operations/n8n-form-handler.json
{
  "name": "Craft Mode - Contact Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "craftmode-form-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "form-webhook",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "craftmode-form-submission"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst data = $input.first().json.body;\n\nif (!data.name || !data.email || !data.message) {\n  return [{\n    json: {\n      error: 'Missing required fields'\n    }\n  }];\n}\n\n// Check honeypot\nif (data._gotcha) {\n  return [{\n    json: {\n      error: 'Bot detected'\n    }\n  }];\n}\n\nreturn [{\n  json: data\n}];"
      },
      "id": "validate-data",
      "name": "Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "toEmail": "hello@craftmode.co",
        "subject": "=New Lead: {{ $json.name }} - {{ $json.service || 'General Inquiry' }}",
        "text": "=Name: {{ $json.name }}\nEmail: {{ $json.email }}\nCompany: {{ $json.company || 'Not provided' }}\nService: {{ $json.service || 'Not specified' }}\nBudget: {{ $json.budget || 'Not specified' }}\n\nMessage:\n{{ $json.message }}\n\n---\nSubmitted: {{ $json.timestamp }}\nSource: {{ $json.source }}\nPage: {{ $json.pageUrl }}",
        "html": "=<h2>New Contact Form Submission</h2>\n<p><strong>Name:</strong> {{ $json.name }}</p>\n<p><strong>Email:</strong> {{ $json.email }}</p>\n<p><strong>Company:</strong> {{ $json.company || 'Not provided' }}</p>\n<p><strong>Service:</strong> {{ $json.service || 'Not specified' }}</p>\n<p><strong>Budget:</strong> {{ $json.budget || 'Not specified' }}</p>\n<hr>\n<p><strong>Message:</strong></p>\n<p>{{ $json.message }}</p>\n<hr>\n<p><small>Submitted: {{ $json.timestamp }}<br>Source: {{ $json.source }}<br>Page: {{ $json.pageUrl }}</small></p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email to Team",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [650, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail - hello@craftmode.co"
        }
      }
    },
    {
      "parameters": {
        "toEmail": "={{ $json.email }}",
        "subject": "We received your message - Craft Mode",
        "text": "=Hi {{ $json.name }},\n\nThanks for reaching out to Craft Mode!\n\nWe've received your inquiry about {{ $json.service || 'our services' }} and will get back to you within 24 hours.\n\nIn the meantime, you can:\n- Book a free consultation: https://calendly.com/craftmode/consultation\n- Learn more about us: https://craftmode.co\n\nBest regards,\nThe Craft Mode Team\nhello@craftmode.co",
        "html": "=<div style='font-family: Arial, sans-serif; max-width: 600px;'>\n<h2 style='color: #3b82f6;'>Hi {{ $json.name }},</h2>\n<p>Thanks for reaching out to <strong>Craft Mode</strong>!</p>\n<p>We've received your inquiry about <strong>{{ $json.service || 'our services' }}</strong> and will get back to you within 24 hours.</p>\n<hr>\n<p>In the meantime, you can:</p>\n<ul>\n<li><a href='https://calendly.com/craftmode/consultation'>Book a free consultation</a></li>\n<li><a href='https://craftmode.co'>Learn more about us</a></li>\n</ul>\n<br>\n<p>Best regards,<br>\n<strong>The Craft Mode Team</strong><br>\n<a href='mailto:hello@craftmode.co'>hello@craftmode.co</a></p>\n</div>",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [650, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail - hello@craftmode.co"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={\n  \"success\": true,\n  \"message\": \"Form submitted successfully\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={\n  \"success\": true,\n  \"message\": \"Form submitted successfully\"\n}"
      },
      "id": "success-response-2",
      "name": "Success Response 2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Send Email to Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Team": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Success Response 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
